@import "header.css";
@import "banner.css";
@import "conteudo-1.css";
@import "conteudo-2.css";
@import "conteudo-3.css";
@import "conteudo-4.css";
@import "conteudo-5.css";
@import "footer.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}